* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.app-page {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-app {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow: auto;
  padding: 40px 80px;
  column-gap: 5px;
  row-gap: 10px;
}

.card {
  position: relative;
  /* flex-basis: calc((100% - 30px) / 7); */
  width: 270px;
}

.card img {
  width: 100%;
  display: block;
  aspect-ratio: 16/10;
  object-fit: cover;
  object-position: center;
}

/* LABEL */

.label {
  position: absolute;
  display: flex;
  color: white;
  background-color: #68737c;
  left: 0;
  bottom: 5px;
  padding: 3px;
  font-size: 12px;
  opacity: 0.8;
}

.debug .top-toolbar {
  border: 1px dashed green;
}
*/ .debug .main-app {
  border: 1px dashed green;
}

/* TOP TOOLBAR */

.top-toolbar {
  display: flex;
  justify-content: end;
  color: white;
  padding: 5px;
}

.top-toolbar .icon {
  display: inline-block;
  background-color: #4a4a4a;
  border-radius: 4px;
  padding: 3px;
  text-align: center;
  font-size: 14px;
}
.top-toolbar .icon i {
  font-size: 15px;
}

/* BOTTOM-TOOLBAR */

.bottom-toolbar {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  color: white;
}

.bottom-toolbar .icon {
  display: inline-block;
  padding: 10px 5px;
  text-align: center;
  font-size: 13px;
}

.bottom-toolbar .icon i {
  display: block;
  padding: 5px;
  font-size: 30px;
}

.bottom-toolbar .chevron {
  display: flex;
  font-size: 7px;
  align-items: center;
  margin-right: 5px;
}

.bottom-toolbar .box {
  display: flex;
  align-content: center;
}

.bottom-toolbar .icon.green i {
  color: green;
}

.bottom-toolbar .box:last-child {
  background-color: #4a4a4a;
  color: red;
  font-size: 13px;
  align-items: center;
  padding: 10px 20px;
}
